.Stage,
.Stage > div {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Stage > div {
  position: absolute;
  min-width: 1120px;
}

.StageStatic {
  margin-left: 9px;
}

.StageLight {
  pointer-events: none;
  transition: 3s filter linear, 3s -webkit-filter ease;
}

.StageLight > .PowerOff {
  filter: brightness(0%);
}

.StageLight > .BlockEntry {
  filter: invert(248%) sepia(444%) saturate(3207%) hue-rotate(351deg)
    brightness(175%) contrast(159%);
}
