
.KeyLight{
  display: flex;
  /*height: calc(100vh - var(--floor-height) * 2);*/
  /* min-height: var(--stage-min-height); */
  margin: auto;
  justify-content: center;
  overflow: hidden;
}

.KeyLight, .keyBackground {
  position: absolute;
  z-index: 10;
  width: 10%;
  left: 58%;
  top: 26%;
  z-index: 3;
}

.keyBackground {
  width: 25%;
  height: 50%;
  top: 24%;
  left: 36%;
  z-index: -1;
}

.KeyLight img {

}

.KeyLight > .keyContainer {
}

.keyRed {
  background-color: red;
}

.keyGreen {
  background-color: green;
}
