.LightThing {
  z-index: 1;
  filter: brightness(100%);
  transition: 3s filter;

  display: flex;
  height: calc(100vh - var(--floor-height) * 2);
  /* min-height: var(--stage-min-height); */
  margin: auto;
  justify-content: center;
  overflow: hidden;
}

.LightThing > .no_power {
  filter: brightness(20%);
}

.LightThing > .locked {
  filter: invert(248%) sepia(444%) saturate(3207%) hue-rotate(351deg)
    brightness(175%) contrast(159%);
}
